<h1>Verify HTML</h1>
<h3>Please upload your files</h3>
<form action="/" method="post" encType="multipart/form-data" id="form">
    <input type="file" name="myfiles" id="myfiles" multiple="true">
    <br><br>
    <input type="submit" id="submit" value="Load">
    <ul id="ul_files">
    </ul>
</form>
<a href="/results/Prueba">Prueba</a>

<script src="/assets/javascripts/files.js"></script>